@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  position: relative;
  scroll-behavior: smooth;
  height: 100%;
  overflow: auto;
  font-size: 16px;
  line-height: 22px;
  padding: 0px;
  margin: 0px;
}
html ul,
body ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
html p,
body p {
  padding: 0px;
  margin: 0px;
}
html h1, html h2, html h3, html h4, html h5, html h6,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0px;
}
html a,
body a {
  color: #000000;
}
html a:hover, html a:focus,
body a:hover,
body a:focus {
  color: #000000;
  text-decoration: none;
}

.transition-all {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.light-grey {
  background-color: #F5F1EE;
}

.yellow {
  background-color: #FFC200;
}

.error {
  color: red;
  font-size: 14px;
}

.form-group {
  position: relative;
}

.input-group-text {
  background-color: #FFC200;
  border: 1px solid #888888;
  border-radius: 0;
  color: #000000;
}

.form-control {
  color: #888888;
  border: 1px solid #888888;
  border-radius: 0 !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
.form-control:focus, .form-control.valid, .form-control.notempty {
  color: #888888;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  border-color: #000000;
}
.form-control:focus ~ .form-control-placeholder, .form-control.valid ~ .form-control-placeholder, .form-control.notempty ~ .form-control-placeholder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  -webkit-transform: translate(0, -1.2rem);
  -moz-transform: translate(0, -1.2rem);
  -o-transform: translate(0, -1.2rem);
  -ms-transform: translate(0, -1.2rem);
  transform: translate(0, -1.2rem);
  background-color: #ffffff;
  padding: 0px 5px;
  font-weight: normal;
  z-index: 3;
}

.form-control-placeholder {
  position: absolute;
  top: 7px;
  left: 12px;
  cursor: text;
  color: #888888;
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  margin: 0px;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}

.input-group .custom-file .custom-file-input {
  border-color: #888888;
}
.input-group .custom-file .custom-file-input:focus {
  border-color: #000000;
}
.input-group .custom-file .custom-file-input:focus ~ .custom-file-label {
  box-shadow: none;
  border-color: #000000;
}
.input-group .custom-file .custom-file-label {
  border-color: #888888;
}
.input-group .custom-file .custom-file-label::after {
  background-color: #FFC200;
  color: #000000;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  padding: 1rem 0;
  margin: 0;
}

small {
  font-size: 16px;
  line-height: 24px;
  color: #888888;
}

.banner-desk {
  background-image: url("../images/banner-desktop.jpg");
  width: 100%;
  height: 375px;
  background-size: 100%;
}

.banner-mob {
  background-image: url(../images/banner-mobile.jpg);
  width: 100%;
  height: 510px;
  background-size: 100%;
}

.btn-yellow {
  padding: 10px 30px;
  border-radius: 50px;
  border: 2px solid #000000;
  outline: none;
  background-color: #FFC200;
  color: #000000;
  font-weight: 700;
}
.btn-yellow:focus {
  box-shadow: none;
}

.action-btn {
  justify-content: space-evenly;
}

.main-dashboard .form-box, .main-reedem .form-box {
  width: 100%;
}

.form-box {
  width: 400px;
  margin: 0 auto;
  height: auto;
}
.form-box .form-sec {
  background-color: #ffffff;
}
.form-box .register {
  width: 80%;
  margin: 0 auto;
}

footer {
  border-top: 1px solid #000000;
}

@media only screen and (max-width: 767px) {
  .form-box {
    width: 100%;
  }
  a {
    display: block;
  }
  .form-group {
    height: auto;
  }
  h1 {
    font-size: 24px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 575px) {
  h1 {
    font-size: 18px;
    line-height: 24px;
  }
  .register .btn {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */